@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');

/* RESET */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: initial;
}

textarea {
  font: inherit;
  border: initial;
  resize: none;
  outline: initial; /* create alternative for focus state */
}

button {
  font: inherit;
  border: initial;
  outline: initial; /* create alternative for focus state */
  background-color: initial;
}

/* UTILITIES */
.u-bold {
  font-weight: 600;
}

.u-medium {
  font-weight: 500;
}

.u-italic {
  font-style: italic;
}

.u-transparent {
  color: rgba(255, 255, 255, 0.8);
}

/* KEYFRAMES */
@keyframes intro {
  0% {
    transform: scale(0.8);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes spinner {
  0% {
    transform: translateX(-50%) rotate(0deg);
  }

  100% {
    transform: translateX(-50%) rotate(360deg);
  }
}

/* BASE */
body {
  background-image: linear-gradient(200deg, #654a86, #534292);
  min-height: 100vh;
  font-family: 'Inter', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;

  scrollbar-width: none; /* Firefox */
}

.body::-webkit-scrollbar {
  /* Chrome, Safari, Edge, Opera, All browsers on iOS */
  display: none;
}

/* HEADER */
header {
  height: 277px;
  background-color: #121618;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 999;
  backface-visibility: hidden;
  transform: translateZ(0);
  box-shadow: rgba(12, 17, 21, 0.5) 0px 0px 50px;
  padding-bottom: 3px;
}

/* HEADINGS */
h1 {
  font-weight: 700;
  font-size: 36px;
  position: relative;
  z-index: 1;
  color: rgba(255, 255, 255, 0.93);
}

h1::selection,
h1 *::selection {
  color: rgba(255, 255, 255, 0.85);
  background-color: rgba(255, 255, 255, 0.05);
}

/* LOGO */
.logo {
  height: 27.5px;
}

.logo::selection {
  background-color: initial;
}

.logo img {
  position: relative;
  z-index: 1;
  backface-visibility: hidden;
  transform: translateZ(0);
}

/* UPVOTE BTN */

/* SPINNER */
.spinner {
  position: absolute;
  left: 50%;
  top: 46%;
  transform: translateX(-50%) translateZ(0);
  border-radius: 50%;
  width: 100px;
  height: 100px;
  border-top: 7px solid #e2e7e9;
  border-right: 7px solid #e2e7e9;
  border-bottom: 7px solid #e2e7e9;
  border-left: 7px solid #ccd1d3;
  animation: spinner 1s infinite linear;
}

h1 > span {
  font-style: italic;
  opacity: 0.85;
}

/* MEDIA QUERIES */
@media (max-height: 925px) {
  body {
    padding: 60px 0;
  }
}

@media (max-width: 1050px) {
  .app {
    flex-direction: column-reverse;
    height: initial;
  }
}

@media (max-width: 775px) {
  body {
    padding-top: 0;
    padding-bottom: 20px;
    align-items: initial;
  }

  .app {
    width: 100%;
    border-radius: 0;
  }
}

@media (max-width: 525px) {
  header {
    padding: 35px 15px;
    height: initial;
  }

  h1 {
    text-align: center;
  }
}
